<?xml version="1.0" encoding="utf-8"?>
<item>
	<childs>
		<item name="Миссия-задача">
			<url name="staticpages_page">
				<address value="mission"/>
			</url>
			<view name="apps.staticpages.views.page$">
				<address value="mission"/>
			</view>
		</item>
		<item name="Прими участие">
			<url name="staticpages_page">
				<address value="join"/>
			</url>
			<view name="apps.staticpages.views.page">
				<address value="join"/>
			</view>
		</item>
		<item name="Наши проекты">
			<url name="project_list"/>
			<view name="apps.projects.views.projects"/>
		</item>
		<item name="Контакты">
			<url name="feedback_form"/>
			<view name="apps.projects.views.projects"/>
		</item>
	</childs>	
</item>